<!DOCTYPE html>
<html>
<head>
	<title>Travel Mems</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,800;0,900;1,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/stylesheets/main.css">
</head>
	
	<header class="navbar-fixed-top">
        <div class="menu-toggle" id="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <div class="overlay"></div>
        <div class="cont">
            <nav>
                <h1 class="brand"><a href="/landingPage">Travel<img class="tavel" src="\stylesheets\tavel.png">Mems</a></h1>
                <ul>
                    <li class="noLine"><a href="/memories">Home</a></li>
                    
					<%if(!currentUser){ %>
				<li class="noLine"><a href="/login">Login</a></li>
				<li class="noLine"><a href="/register">SignUp</a></li>
				<% } else { %>
				<li class="inname">Signed in as <%=currentUser.username%></li>
				<li class="noLine"><a href="/logout">Logout</a></li>
				<% } %>
                 <li class="noLine"><a href="contact">Contact</a></li>   
                </ul>
            </nav>
        </div>	
		</header>
	
	<div class="container">
		<%if(error&&error.length>0){%>
	<div class="alert alert-danger" role="alert">
	<%=error%>
</div>
		<%}%>
		<%if(success&&success.length>0){%>
	<div class="alert alert-success" role="alert">
 	<%=success%>
</div>
<%}%>
	</div>
	
	<body>
		
