<%- include("partials/header")%>

<h1>register goes here</h1>


<form action="/register" method="POST">
	<input type="text" placeholder="username" name="username">
	<input type="password" placeholder="password" name="password">
	<button>signUp</button>
</form>

<%- include("partials/footer")%>