
body{
	font-family: 'Poppins', sans-serif;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}


/*html{
	font-size: 10px;
	font-family: "Roboto Cn", sans-serif;*/


a{
	text-decoration: none;
	color: #fff;
	
}

header{
	font-family:'Poppins', sans-serif;
	width: 100%;
	height: 100vh;
	/*background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("https://images.unsplash.com/photo-1523374228107-6e44bd2b524e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") center no-repeat;*/
	/*background-size: cover;
	position: relative;*/
	
	background-image: url("https://images.unsplash.com/photo-1470115636492-6d2b56f9146d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
	background-position: center;
	  background-repeat: no-repeat; 
	  background-size: cover; 
 	 overflow: hidden;

}

.container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
	margin-top:3px;
}

.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

nav{
	padding-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

.tavel{
	position:relative;
	top:2px;
	background-color:#fff;
}

.tavel
{ 
	transform: scale(1);
  transition: 0.5s;

}
.tavel:hover{
	transform: scale(1) translateY(-15px);
	
}

.brand{
	font-size: 1.2em;
	font-weight: bold;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
	letter-spacing:1px;
}

.brand span{
	color: crimson;
}

nav ul{
	display: flex;
}

nav ul li{
	font-size:15px;
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: crimson;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@media screen and (max-width: 700px){

	.menu-toggle{
		display: block;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}

	.brand{
		font-size: 5rem;
	}
  
  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  }
  
}


section
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	/*background-image: url("https://images.unsplash.com/photo-1470115636492-6d2b56f9146d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
	background-position: center;
	  background-repeat: no-repeat; 
	  background-size: cover; */
	
	/*filter:hue-rotate(120deg);
	animation: animate 10s linear infinite;*/
}
/*@keyframes animate{
	0%{
		filter:hue-rotate(0deg);
	}
	100%{
		filter: hue-rotate(360deg);
	}
}*/
.box{
	position: relative;
	padding: 50px;
	width: 360px;
	height: 480px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(41, 40, 40, 0.3);
	border-radius: 6px;
	box-shadow: 0 5px 35px rgba(0,0,0,0.2);
	
}
.box::after{
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 5px;
	pointer-events: none;
	background:linear-gradient(to bottom, rgba(255,255,255, 0.3) 0%,rgba(255,255,255,0.1) 15%, transparent 50%, transparent 85%,  rgba(255,255,255, 0.3) 100%)

}
.box .form{
	position: relative;
	width:100%;
}
.box .form h2{
	color:#fff;
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: 30px;
}
.box .form .inputBx{
	position: relative;
	width:100%;
	margin-bottom: 20px;
}
.box .form .inputBx input{
	width: 100%;
	outline: none;
	border:1px solid rgba(255,255,255,0.2);
	background: transparent;
	padding: 8px 10px;
	padding-left: 35px;
	border-radius: 6px;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	box-shadow: inset 0 0 25px rgba(0,0,0,0.2);

}
.box .form .inputBx input[type='submit']{
	background:#fff;
	color: #111;
	max-width: 100px;
	padding: 8px 10px;
	box-shadow: none;
	font-weight: 500;
	letter-spacing: 1px;
	cursor: pointer;
}
.box .form .inputBx img{
	position:absolute;
	top: 8px;
	left: 10px;
	transform: scale(0.7);
	filter: invert(1);
}
.box .form p{
	color: #fff;
	font-weight: 400;
	font-size:15px;
	margin-top: 5px;
}
.box  a{
	color: #50e6a0;
}

